//background
$bgHeader: #070707;
$bgMenuActive: #ff2e43;
$bgTutorial: #efefef;
$bgBlack: #000000;
//color
$clWhite: #fff;
$clTextHeader: #8f8f8f;
$clSubTutorial: #292929;
$clBlack: #222;
$clLight: #8c8c8c;

//font
$fontMontserMedium: Montserrat-Medium;
$fontMontserLight: Montserrat-Light;
$fontMontserExtrLight: Montserrat-ExtraLight;
$fontMontserRegular: Montserrat-Regular;

//fontSize
$fontText: 14px;
$fontLarge: 35px;
$fontMedium: 20px;
$fontSmall: 12px;

$font18 : 18px;
$font35: 35px;
$font16: 16px;
//lineHight
$lhLarge: 2;
$lgMedium: 1.5;
$lhSmall: 1;

